body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.info-paragraph {
    width: 50%;
    margin-left: 0%;
    margin-right: 50%;
}

.attribute {
    border: solid .1px black;
    padding: 10px
}

.max-height {
    height: 300px;
}

.align-left {
    text-align: left;
    display: inline-block;
}

.border {
    border: solid 1px black;
}

.width-33 {
    width: 33%;
}

.height-150 {
    height: 150px;
}

.height-75 {
    height: 75px;
}

.height-25 {
    height: 25px;
}

.skills {
    font-size: 13px;
    width: 200px;
}

.span50-left {
    width: 75%;
    height: 50px;
    text-align: left;
    display: inline-block;
    border: solid 1px black;
}

.languages {
    border: solid 1px black;
    width: 50%;    
    height: 150px;
}

.mod {
    border: solid 1px black;
    padding: 1px;
}

.column-one {
    text-align: left;
}

.character-sheet {
    height: 100%;
    border: solid 1px black;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.center-page-div {
    text-align: center;
}

.select-styles {
    width: 125px;
    margin-right: 10px;
}

.logout {
    float: right;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

.sample-characters {
    float: right;
}

.characters {
    float: left;
    padding: 5px;
    margin: 1px;
    border: solid 1px black;
    width: 23%;
}
.form {
    background-color: #dbd5d5;
    width: 30%;
    height: 150px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.login-form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
